# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Environment Variables
.env*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea
.vscode
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
*.pem
Thumbs.db

# Misc
*.log
.vercel
*.tsbuildinfo
next-env.d.ts

# Uploads
/uploads

# Project specific
/innerview
